.custom-timeline-item::before {
  content: "";
  flex: 0 !important;
  padding: 0;
}

.timeline {
  position: relative;
  padding: 0;
  margin: 0;
}

.custom-timeline-item {
  margin: 0;
  padding: 0;
}

.custom-timeline-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.custom-timeline-item.fade-in {
  opacity: 1;
  transform: translateY(0);
}
